*{
    padding: 0;
    margin: 0;

}

body{
    padding: 30px 15px;
}
h1{
    margin: auto;
}


.form,
div.header{
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: auto;
    margin-bottom: 30px ;
    font-size: 1rem;
}


fieldset{
    display: flex;
    flex-direction: column;
    border: none;
    gap: 5px;
}

fieldset legend{
    margin-bottom: 10px;
}

input[type="text"],
input[type="tel"],
input[type="date"]{
    padding: 10px;
    outline: none;
    font-size: 1rem;
    border: 1px solid rgb(171, 171, 171);
    border-radius: 5px;
}

input:focus{
    border-color: green;
    box-shadow: 3px 3px 3px rgb(181, 181, 181);
}



button.submit{
    width: fit-content;
    padding: 5px 30px;
    background-color: rgb(73, 80, 73);
    border: 2px solid rgb(73, 80, 73);
    color: white;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    align-self: center;
}


button.submit:hover{
    box-shadow: 3px 3px 3px rgb(181, 181, 181);
    color: rgb(73, 80, 73);
    background-color: white;
}